<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Posts</li>
</ol>

<a href="/new" class="btn btn-success" routerLink="/new">
  <i class="fa fa-plus"></i> New
</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title | capitalize }}</td>
      <td>
        <div class="btn-group">
          <a href="/edit/{{ post.id }}" (click)="edit(post.id)" class="btn btn-default btn-sm">
            <i class="fa fa-edit"></i>
          </a>
          <button class="btn btn-danger btn-sm" (click)="remove(post.id)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li *ngFor="let p of totalPages">
      <a href="#" (click)="getPost(p)">{{ p }}</a>
    </li>
  </ul>
</nav>
